@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@section styles{
    <style>
    </style>
}
@section topright{
    <li>
        <a data-toggle="modal" data-target="#myModal" href="#">Log in</a>
    </li>
}
<p>Use this area to provide additional information.</p>
