@{
    ViewBag.Title = "PokerChampions";
}
@section styles{
    <style>
        #play-free {
            box-shadow: 0 1px 3px rgba(0,0,0,1);
            position: fixed;
            left: 20%;
            right: 20%;
            bottom: 20%;
            box-shadow;
        }

        body {
            background: url(http://www.21stbirthdaypartyideas.net/wp-content/uploads/2014/12/21st-Birthday-Party-Ideas-for-Him-poker.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .alert {
            border: 1px solid black;
            margin: 25px 25% 10px 25%;
            text-align: center;
        }
    </style>
}
@section topright{
    <li>
        <a data-toggle="modal" data-target="#myModal" href="#">Log in</a>
    </li>
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-@ViewBag.MessageType" role="alert">@ViewBag.Message</div>
}

<!--<a class="box-shadow btn btn-primary btn-lg" id="play-free" href="~/signup">Play for Free &raquo;</a>
    switched button to modal-->
<a class="box-shadow btn btn-primary btn-lg" id="play-free" data-toggle="modal" data-target="#Register" href="#">Play for Free &raquo;</a>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Log in to your account</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" id="username-group">
                    <label class="control-label" for="username">Username</label>
                    <input type="text" class="form-control" id="username">
                    <span id="username-msg" class="help-block"></span>
                </div>
                <div class="form-group" id="password-group">
                    <label class="control-label" for="password">Password</label>
                    <input type="password" class="form-control" id="password">
                    <span id="password-msg" class="help-block"></span>
                </div>
            </div>
            <div class="modal-footer">
                <!-- Create Account links to ~/signup, put signup script there?-->
                <a class="btn btn-default" data-toggle="modal" data-target="#Register" data-dismiss="modal" href="#">Create Account</a>
                <button type="button" id="login-btn" class="btn btn-primary">Log in</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Register-->
<div class="modal fade" id="Register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="RegisterLabel">Create an Account</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" id="register-username-group">
                    <label class="control-label" for="register-username">Username</label>
                    <input type="text" class="form-control" id="register-username">
                    <span id="register-username-msg" class="help-block"></span>
                </div>
                <div class="form-group" id="register-email-group">
                    <label class="control-label" for="register-email">Email</label>
                    <input type="text" class="form-control" id="register-email" />
                    <span id="register-email-msg" class="help-block"></span>
                </div>
                <div class="form-group" id="register-password-group">
                    <label class="control-label" for="register-password">Password</label>
                    <input type="password" class="form-control" id="register-password">
                    <span id="register-password-msg" class="help-block"></span>
                </div>
                <div class="form-group" id="register-confirm-group">
                    <label class="control-label" for="register-confirm">Confirm Password</label>
                    <input type="password" class="form-control" id="register-confirm">
                    <span id="register-confirm-msg" class="help-block"></span>
                </div>
            </div>
            <div class="modal-footer">
                <!-- Change These-->
                <!--  <a class="btn btn-default" href="~/Register">Create Account</a>-->
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="register-btn" class="btn btn-primary">Register</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

<script>
        $(document).ready(function () {
//find keycodes for shift+tab in order to cycle backwards through the form easily
            //Script for Login
            $("#login-btn").click(submitLogin);
            $('#username').on("keyup", function (e) {
                if (e.keyCode == 13 || e.keyCode == 40) {
                    $("#password").focus();
                }
            });
            $('#password').on("keyup", function (e) {
                if (e.keyCode == 13) {
                    submitLogin();
                }
            });
            //Script for Register, define submitRegister Function below
            $("#register-btn").click(submitRegister);
            $('#register-email').on("keyup", function (e) {
                if (e.keyCode == 13 || e.keyCode == 40) {
                    $("#register-username").focus();
                }
            });
            $('#register-username').on("keyup", function (e) {
                if (e.keyCode == 13 || e.keyCode == 40) {
                    $("#register-password").focus();
                }
            });
            $('#register-password').on("keyup", function (e) {
                if (e.keyCode == 13 || e.keyCode == 40) {
                    $("#register-confirm").focus();
                }
            });
            $('#register-confirm').on("keyup", function (e) {
                if (e.keyCode == 13) {
                    submitRegister();
                }
            });


            function submitLogin() {
                $.post("/ajax/login", {
                    username: $('#username').val(),
                    password: $('#password').val()
                },
                loginHandler);
            }

            function submitRegister() {
                $.post("/ajax/register", {
                    email: $('#register-email').val(),
                    username: $('#register-username').val(),
                    password: $('#register-password').val(),
                    confirm: $('#register-confirm').val()
                }, registerHandler);
            }


            function loginHandler(response) {
                if (response.usernameError.length > 0) {
                    $("#username-group").addClass("has-error");
                    $("#username-msg").text(response.usernameError);
                } else {
                    $("#username-group").removeClass("has-error");
                    $("#username-msg").text("");
                }
                if (response.passwordError.length > 0) {
                    $("#password-group").addClass("has-error");
                    $("#password-msg").text(response.passwordError);
                } else {
                    $("#password-group").removeClass("has-error");
                    $("password-msg").text("");
                }
                if (response.usernameError.length == 0 && response.passwordError.length == 0) {
                    window.location.href = '/';
                }
            }

//NOT FINISHED, NEED TO SYNC UP WITH REGISTER MODEL ERRORS
            function registerHandler(response) {
                    if (response.usernameError.length > 0) {
                        $("#register-username-group").addClass("has-error");
                        $("#register-username-msg").text(response.usernameError);
                    } else {
                        $("#register-username-group").removeClass("has-error");
                        $("#register-username-msg").text("");
                    }
                    if (response.emailError.length > 0) {
                        $("#register-email-group").addClass("has-error");
                        $("#register-email-msg").text(response.emailError);
                    } else {
                        $("#register-email-group").removeClass("has-error");
                        $("#register-email-msg").text("");
                    }
                    if (response.passwordError.length > 0) {
                        $("#register-password-group").addClass("has-error");
                        $("#register-password-msg").text(response.passwordError);
                    } else {
                        $("#register-password-group").removeClass("has-error");
                        $("#register-password-msg").text("");
                    }
                    if (response.confirmError.length > 0) {
                        $("#register-confirm-group").addClass("has-error");
                        $("#register-confirm-msg").text(response.confirmError);
                    } else {
                        $("#register-confirm-group").removeClass("has-error");
                        $("#register-confirm-msg").text("");
                    }
                    if (response.usernameError.length == 0 && response.passwordError.length == 0) {
                        window.location.href = '/';
                    }
            }
        });
</script>
}