<!DOCTYPE html>
<html>
<head>
	<title> poker player </title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<div id="hud" class="playerHud">
		
		<div class="playerCards">
			<div id="card1" class="card"><img v-bind:src="card1Url"/></div>
			<div id="card2" class="card"><img v-bind:src="card2Url"/></div> 
		</div>
	
	<div class="playerBar">
		<div class="avatar"><img v-bind:src="avatarUrl" /></div>
		<div class="nameAndCurrency">
			 <div class="name">{{username}}</div>

			 <div class="currency">currency:${{currency}}</div>
		</div> 
		<div class="timer">{{timer}}</div>
	</div> 
	<script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
	<script src="app.js"></script>
</body>
</html>