body {
	    margin: 0;
            padding: 0;
            position: absolute;
            background-image:  url(http://www.walldevil.com/wallpapers/a52/wallpaper-textur-background-patterns-backgrounds-wallpapers.jpg);
	        -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover
}

#community {
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	top: 40%;
	left: 50%;
	height: 85px;
	width: 500px;
	/*background-color: blue;*/
	transform: translate(-50%, -50%);

}

.communityCard {
	height: 100%; 
	width: 90px;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: green;
}

.communityCard img {
	height: 100%;
	width: 100%;
}

#pot {
	background-color: white;
	width: 45%;
	height: 20px;
	text-align: center;
}

.playerHud {
	position: fixed;
	height:50px;
	width: 250px;
}

#hud1 {
	
	bottom: 25%;
	left: 50%;
	transform: translate(-50%, 0%);
}

#hud2 {
	 
	top: 10%;
	left: 50%;

	transform: translate(-50%, 0%);
}

#hud3 {
	 
	top: 25%;
	left: 0%;

	/*transform: translate(-50%, 0%);*/
}

#hud4 {
	 
	top: 60%;
	left: 0%;

	/*transform: translate(-50%, 0%);*/
}

#hud5 {
	 
	top: 25%;
	/*left: 90%;*/
	right: 0%;

	/*transform: translate(-50%, 0%);*/
}

#hud6 {
	 
	top: 60%;
	/*left: 90%;*/
	right: 0%;

	/*transform: translate(-50%, 0%);*/
}

.playerCards {
	display: flex;
	justify-content: center;
}

.playerCard {
	height: 50px;
	width: 30%;
	/*background-color: white;*/
	/*border: 1px groove;*/
	border-radius: 2px;
}

.playerCard img {
	height: 100%;
	width: 100%;
	/*visibility:  ;*/
}

.playerBar {
	display: flex;
	justify-content: center;
}

.playerBar > div {
	background-color: #585749;
}

.avatar {
	height: 50px;
	width: 20%;
	border-radius: 2px;
	border: 1px inset;

}

.avatar img {
	height: 100%;
	width: 100%;
}

.nameAndCurrency {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 50px;
	width: 60%;
	border: 1px inset;
	border-radius: 2px;
}

.name {
	display: block;
	width: 60%;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	background-color: #E59866;
}

.currency {
	display: block;
	width: 60%;
	margin-bottom: 5px;
	text-align: center;
	background-color: #97ddff;
}

.timer {
	height: 50px;
	width: 20%;
	border: 1px inset;
	border-radius: 2px;
	font-size: 30px;
	text-align: center;
}