@model PokerPrototype.Models.UserModel

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Hello, @Model.username <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><img src="@Model.avatar" /></li>
        <li>Currency: @Model.currency</li>
        <li><a href="/profile/@Model.username">View Profile</a></li>
        <li><a data-toggle="modal" data-target="#fund-modal" href="#">Add Funds</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
</li>
